.ClassesList-container {
  width: 100%;
  height: 100%;
}
.ClassesList-title {
  width: 100%;
  height: 56px;
  background-color: rgb(245, 245, 245);
}
.ClassesList-title div {
  width: 33%;
  padding-left: 20px;
  font-weight: bolder;
}
.ClassesList-content {
  width: 100%;
  height: calc(100% - 96px);
}
.ClassesList-loading {
  width: 100%;
  height: 100%;
}
.ClassesList-item {
  width: 100%;
  height: 56px;
  border-bottom: 2px solid rgb(250, 250, 250);
}
.ClassesList-item div {
  width: 33%;
  padding-left: 20px;
}
.ClassesList-pagination {
  height: 40px;
}