.TitleBar-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.TitleBar-sider {
  height: 100%;
}
.TitleBar-logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.TitleBar-menu {
  border-right: 0;
}
.TitleBar-content {
  background-color: #fff;
  padding: 0;
  margin: 24px;
  min-height: 280px;
  overflow: hidden;
}